@page
@model IndexModel

@{
    ViewData["Title"] = "Technology";
}
<div class="content-row" id="site-hero">
    <div class="cover-img">
        <div class="vertical-table">
            <div class="vertical-center">
                <div class="container-fluid">
                    <div class="content-wrapper">
                        <div class="col-sm-12">
                            <h1 class="entry-title">Welcome</h1>
                            <p>to the Age of TECHNOLOGIES</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

@if (Model.HasTechPost)
{
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="row">
                @foreach (var Techs in Model.TechPosts)
                {
                    <div class="col-lg-4">
                        <div class="card h-100 w-80">
                            <div class="card-body">
                                <a asp-page="TechDetail" asp-route-TechId="@Techs.TechId" class="card-title" id="Title">@Html.DisplayFor(m => Techs.Title)</a>
                                <section class="card-text text-muted" id="name"><i class="fa fa-user"></i>Post By: @Html.DisplayFor(m => Techs.User.FirstName) @Html.DisplayFor(m=> Techs.User.LastName)</section>
                                <section class="card-text text-muted" id="run"><span class="fa fa-thumbtack"></span>Post On:<i class="fa fa-calendar"></i>@Html.DisplayFor(m => Techs.PostCreatedDate)</section>
                                <hr>
                                <p class="card-text" id="description">
                                    @Html.DisplayFor(m => Techs.Description)
                                </p>
                                <a asp-page="TechDetail" asp-route-TechId="@Techs.TechId" class="btn btn-outline-primary" id="contd">Read More >> </a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            <partial name="_Sidebar" />
        </div>
    </div>
}
else
{
    <p>No TechPosts found </p>
    <a class="btn btn-outline-primary">Post a Tech Blog</a>
}


